[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "bundle/vim-debug"]
	path = bundle/vim-debug
	url = https://github.com/jabapyth/vim-debug.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = https://github.com/mineiro/vim-latex.git
[submodule "bundle/vim-objj"]
	path = bundle/vim-objj
	url = git://github.com/nanki/vim-objj
[submodule "bundle/searchcomplete"]
	path = bundle/searchcomplete
	url = https://github.com/vim-scripts/SearchComplete.git
[submodule "bundle/timestamp"]
	path = bundle/timestamp
	url = https://github.com/vim-scripts/timestamp.vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab
[submodule "bundle/vim-pyref"]
	path = bundle/vim-pyref
	url = https://github.com/vim-scripts/pyref.vim
[submodule "bundle/jslint"]
	path = bundle/jslint
	url = http://github.com/hallettj/jslint.vim
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/cocoa.vim"]
	path = bundle/cocoa.vim
	url = http://github.com/msanders/cocoa.vim
[submodule "bundle/vim-align"]
	path = bundle/vim-align
	url = https://github.com/tsaleh/vim-align.git
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "bundle/neocomplecache"]
	path = bundle/neocomplecache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "bundle/Vim-R-plugin"]
	path = bundle/Vim-R-plugin
	url = https://github.com/vim-scripts/Vim-R-plugin.git
[submodule "bundle/runscript.vim"]
	path = bundle/runscript.vim
	url = https://github.com/vim-scripts/runscript.vim.git
[submodule "bundle/buftabs"]
	path = bundle/buftabs
	url = https://github.com/vim-scripts/buftabs.git
[submodule "bundle/vim-makegreen"]
	path = bundle/vim-makegreen
	url = https://github.com/reinh/vim-makegreen
[submodule "bundle/csv.vim"]
	path = bundle/csv.vim
	url = https://github.com/chrisbra/csv.vim
[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "bundle/vim-pep8"]
	path = bundle/vim-pep8
	url = https://github.com/nvie/vim-pep8.git
[submodule "bundle/pythonhelper"]
	path = bundle/pythonhelper
	url = https://github.com/vim-scripts/pythonhelper.git
[submodule "bundle/python_open_module"]
	path = bundle/python_open_module
	url = https://github.com/vim-scripts/python_open_module.git
[submodule "bundle/rope-vim"]
	path = bundle/rope-vim
	url = https://github.com/gordyt/rope-vim.git
[submodule "bundle/delimate"]
	path = bundle/delimate
	url = https://github.com/vim-scripts/delimitMate.vim.git
[submodule "bundle/vim-fuzzyfinder"]
	path = bundle/vim-fuzzyfinder
	url = https://github.com/clones/vim-fuzzyfinder.git
[submodule "bundle/vim-fuzzyfinder-pathogen"]
	path = bundle/vim-fuzzyfinder-pathogen
	url = https://github.com/itspriddle/vim-fuzzyfinder-pathogen.git
[submodule "bundle/taskpaper.vim"]
	path = bundle/taskpaper.vim
	url = https://github.com/tsaleh/taskpaper.vim.git
[submodule "bundle/LustyJuggler"]
	path = bundle/LustyJuggler
	url = https://github.com/vim-scripts/LustyJuggler.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/open-terminal-filemanger"]
	path = bundle/open-terminal-filemanger
	url = https://github.com/vim-scripts/open-terminal-filemanager.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/vim-yankring"]
	path = bundle/vim-yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/rainbow-parenthesis-bundle"]
	path = bundle/rainbow-parenthesis-bundle
	url = https://github.com/vim-scripts/Rainbow-Parenthsis-Bundle.git
[submodule "colors/xoria256.vim"]
	path = colors/xoria256.vim
	url = https://github.com/vim-scripts/xoria256.vim.git
[submodule "bundle/jellyx-colors"]
	path = bundle/jellyx-colors
	url = https://github.com/guns/jellyx.vim.git
[submodule "bundle/jellybeans-colors"]
	path = bundle/jellybeans-colors
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/solarized-colors"]
	path = bundle/solarized-colors
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/aftercolors"]
	path = bundle/aftercolors
	url = https://github.com/vim-scripts/AfterColors.vim.git
[submodule "bundle/lucius"]
	path = bundle/lucius
	url = https://github.com/vim-scripts/Lucius.git
[submodule "bundle/wombat256"]
	path = bundle/wombat256
	url = https://github.com/vim-scripts/wombat256.vim.git
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "bundle/vim-virtualenv"]
	path = bundle/vim-virtualenv
	url = https://github.com/jmcantrell/vim-virtualenv.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim
[submodule "bundle/desertink-color"]
	path = bundle/desertink-color
	url = https://github.com/toupeira/desertink.vim.git
[submodule "bundle/vim-r-plugin"]
	path = bundle/vim-r-plugin
	url = https://github.com/vim-scripts/Vim-R-plugin.git
[submodule "bundle/twillight256-colors"]
	path = bundle/twillight256-colors
	url = https://github.com/vim-scripts/twilight256.vim.git
[submodule "bundle/sudo-gui"]
	path = bundle/sudo-gui
	url = https://github.com/gmarik/sudo-gui.vim.git
[submodule "bundle/ipy-vim"]
	path = bundle/ipy-vim
	url = https://github.com/m5/ipy-vim.git
[submodule "bundle/vim-fakeclip"]
	path = bundle/vim-fakeclip
	url = https://github.com/kana/vim-fakeclip.git
[submodule "bundle/pyref"]
	path = bundle/pyref
	url = https://github.com/vim-scripts/pyref.vim.git
[submodule "bundle/molokai-colors"]
	path = bundle/molokai-colors
	url = https://github.com/tomasr/molokai.git
[submodule "headlight"]
	path = headlight
	url = https://github.com/mbadran/headlights.git
[submodule "bundle/headlight"]
	path = bundle/headlight
	url = https://github.com/mbadran/headlights.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/vim-scripts/mru.vim.git
