snippet #utf8
	# -*- coding: utf-8 -*-
snippet unit
	class ${1:ClassName}(unittest.TestCase):
		"""${2:docstring for $1}"""
		def setUp(self):
			pass
		def tearDown(self):
			pass

snippet docst
	'''
	File: ${1:`Filename('$1.py', 'foo.py')`}
	Author: ${2:`g:snips_author`}
	Created: T_IMESTAMP
	Last Modified: T_IMESTAMP
	Description: ${3}
	'''
